body{
  margin:0;
  overflow: hidden;
}
.limiter {
  width: 100%;
  margin: 0 auto;
}
.maincontainer{
  
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(356deg, rgba(255,255,240,1) 45%, rgba(81,74,203,1) 47%, rgba(110,46,203,1) 100%);
}
.userswraper {
  width: 40%;
  height: 70vh;
  background: #fff;
  border-radius: 10px;
  overflow: auto;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
  -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
  -o-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
  -ms-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
      box-shadow: 6px 5px 18px -2px;
    border-radius: 4%;
}
.userswraper::-webkit-scrollbar {
    width: 2px;
}


.userimglist{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.username{
  font-size: 25px;
}
ul{
  list-style: none;
    list-style: none;
    margin: 30px;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
}
ul li{
  border-bottom: 1px solid;
  
}
.selac{
  height:100px;
  background:#f6f6f6;
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.landingancor{
  text-decoration: none;
  color: #4a4a4a;
  
}
.tablewraper{
  margin-top: 7px ;
  margin-bottom: 4px;
}










aside {
  color: #fff;
  height: 94vh;
  background: linear-gradient(45deg, rgba(81,74,203,1) 35%, rgba(110,46,203,1) 100%);
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

aside a {
  font-size: 12px;
  color: #fff;
  display: block;
  padding: 12px;
  font-size:18px;
  padding-left: 30px;
  text-decoration: none;
  -webkit-tap-highlight-color:transparent;
  margin:5px
}

aside a:hover {
  color: #3f5efb;
  background: #fff;
  outline: none;
  position: relative;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 100%;
  margin:5px;
  margin-left:20px;
}

aside a i {
  margin-right: 5px;
}

aside a:hover::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 100%;
  right: 0;
  height: 35px;
  width: 35px;
  border-bottom-right-radius: 18px;
  box-shadow: 0 20px 0 0 #fff;
}

aside a:hover::before {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 38px;
  right: 0;
  height: 35px;
  width: 35px;
  border-top-right-radius: 18px;
  box-shadow: 0 -20px 0 0 #fff;
}



body {
  font-family: 'Roboto';
  width: 100%;
  height: 100vh;
  margin: 0;
}

.social {
  height: 0;  
}

.social i:before {
  width: 14px;
  height: 14px;
  font-size: 14px;
  position: fixed;
  color: #fff;
  background: #0077B5;
  padding: 10px;
  border-radius: 50%;
  top:5px;
  right:5px;
}


.profildetails{
  width: 70%;
  
}

.pimage{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.plabel{
  font-weight: 500;
  color:#4a4a4a;
  font-size: 1.5rem;
}
.ptext{
  font-weight: 600;
  font-size: 1.5rem;
}
.profilepage{
  padding:1.2em;
}

.lilleft{
  margin-left:30px;
}









